:root {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

body {
    background-color: rgb(188, 253, 255);
}

header {
    position: relative;
    background-color: white;
}

nav {
    position: sticky;
    display: flex;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 15px 2px;
}

nav h1 {
    color: black;
    font-size: 300%;
    font-family: var(--font-family);
    padding-left: 40px;
    background-color: rgb(188, 253, 255);
}

nav u1 li {
    display: inline-block;
    margin: 10px 20px;
    font-weight: bold;
}

nav u1 li a {
    color: black;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: larger;
}

nav a:hover {
    color: rgb(188, 253, 255);
}

.MCFLUR {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
    max-width: 900px;
}

.Brandon-img {
    height: 451px;
    width: 624px;
    border-radius: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bio {
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px;
    text-align: center;
    background-color: white;
}

.bio p {
    line-height: 25px;
    padding: 4px;
}

.projects {
    display: flex;   
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 5px;
    flex-wrap: wrap;
}

.projectimg {
    height: 400px;
    width: 300px
}

.project-container-box {
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px;
    background-color: white;
}

.projects-title {
    text-align: center;
    margin-bottom: 20px;
}

.project-container {
    text-align: center;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.project-main{
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px;
    background-color: white;
}

.comingsoon{
    width: 300px;
    height: 300px;
}

nav h2 { 
    color: white;
    font-size: 300%;
    font-family: var(--font-family);
    padding-left: 40px;
    background-color: rgb(255, 255, 255);
}

.contact-info{
    position: sticky;
    display: flex;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0px 2px 15px 2px;
    flex-wrap: wrap;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    color: black
}

nav a{
    color: black;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: larger;
}